<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cmamapplication">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/my_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".linkfacilityresources"></activity>
        <activity android:name=".linkfacility_chu" />
        <activity android:name=".MapSubcountyAllocateResources" />
        <activity android:name=".SubcountyAllocateResources" />
        <activity android:name=".MapRequestResourceActivity" />
        <activity android:name=".RequestResource" />
        <activity android:name=".subcountyresources" />
        <activity android:name=".SubCountMedicalInstitutions" />
        <activity android:name=".MapSubCountyLinkFacility" />
        <activity android:name=".MapSubCountyCHUS" />
        <activity android:name=".subcounty_chu" />
        <activity android:name=".MapAllocateResourceActivity" />
        <activity android:name=".MapUpdateResourceActivity" />
        <activity android:name=".MapUserRoleActivity" />
        <activity android:name=".MapCommitteeResourceActivity" />
        <activity android:name=".MapUserCHUActivity" />
        <activity android:name=".MapUserLinkFacilityActivity" />
        <activity android:name=".MapUserSubCountyActivity" />
        <activity android:name=".UserCreation" />
        <activity android:name=".AllocateResource" />
        <activity android:name=".UpdateResource" />
        <activity android:name=".CreateResource" />
        <activity android:name=".ManageCommittees" />
        <activity android:name=".CountiesActivity" />
        <activity android:name=".RoleManagement" />
        <activity android:name=".SubCounties" />
        <activity android:name=".UserManagement" />
        <activity android:name=".SubCountyCHU" />
        <activity android:name=".Guidelines" />
        <activity android:name=".PostDischarge" />
        <activity android:name=".Referrals" />
        <activity android:name=".chu" />
        <activity android:name=".resources" />
        <activity android:name=".CHO" />
        <activity android:name=".LinkFacility" />
        <activity android:name=".SubCountyAdmin" />
        <activity android:name=".CountyAdminActivity" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".New_Patient" />
        <activity android:name=".Patients" />
        <activity android:name=".Medical_Institutions" />
        <activity android:name=".Analytics" />
        <activity android:name=".Home" />
        <activity android:name=".dashboard" />
        <activity android:name=".profile" />
        <activity android:name=".register_user" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>